/.buildpath

/.project

/.settings

/app/tmp/cache/persistent/*

/app/Config/database.php

/app/tmp/logs/*.log

/app/Config/email.php.default
/app/tmp/cache/models/*

/app/Config/opauth.php
/server/vendor
/server/composer.lock

/app/Lib/*

/app/composer.lock

/.editorconfig

/.travis.yml
